

.cabeca {
    background-image: url("../imagens/as.jpg");
    background-repeat: no-repeat ;
    background-size: cover;
}
.cabeca {
    padding-top: 100px ;
    padding-bottom: 100px ;
}


.info {
    text-align: center;
    border: 1px, gray ;
}
h2 {
    padding-bottom: 14px ;    
}